<ion-slides pager="true">
    <ion-slide class="step-one">
        <ion-img src="src\assets\icon\splash.png"></ion-img>
    <p></p>
  
    
        <h1>Welcome to HouseMe</h1>
        <p>
            An easy to use accommodation app for tennants & landlords.
        </p>
        <p>
           Saving you time and stress.
        </p>

        <ion-button color="success" (click)="login()">Login</ion-button>
        <ion-button color="light" (click)="Register()">Register</ion-button>
    </ion-slide>
</ion-slides>